## Practice Tasks

In [1]:
import pandas as pd
# Load Data
reviews_df = pd.read_csv('../data/winemag-data-130k-v2.csv')
reviews_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [2]:
reviews_df['taster_name'].value_counts()

taster_name
Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: count, dtype: int64

In [3]:
#Todo: Who are the most common wine reviewers
# Create a series whose index is the 'taster_twitter_handle'
# this does the same thing that .size() does
reviews_df.groupby('taster_twitter_handle')['taster_name'].count().sort_values(ascending=False)

taster_twitter_handle
@vossroger          25514
@wineschach         15134
@kerinokeefe        10776
@vboone              9537
@paulgwine           9532
@mattkettmann        6332
@JoeCz               5147
@wawinereport        4966
@gordone_cellars     4177
@AnneInVino          3685
@laurbuzz            1835
@suskostrzewa        1085
@worldwineguys       1005
@bkfiona               27
@winewchristina         6
Name: taster_name, dtype: int64

In [4]:
#TODO 2: What is the best wine I can buy for a given amount of money?
# Create a series whose index is the wine price and whose values are the max number of points
best_rating = reviews_df.groupby('price')[['points','title']].max().sort_index()
best_rating

        points                                              title
price
4.0         86   Terrenal 2010 Estate Bottled Tempranillo (Yecla)
5.0         87              Zamarro 2009 Malbec-Bonarda (Mendoza)
6.0         88                      Zarpado 2009 Malbec (Mendoza)
7.0         91          flipflop NV Left Coast Pinot Noir (Chile)
8.0         91  Zonin 2007 Primo Amore Pinot Grigio (Delle Ven...
...        ...                                                ...
1900.0      98                      Château Margaux 2009  Margaux
2000.0      97     Domaine du Comte Liger-Belair 2005  La Romanée
2013.0      91  Blair 2013 Roger Rose Vineyard Chardonnay (Arr...
2500.0      96     Domaine du Comte Liger-Belair 2010  La Romanée
3300.0      88               Château les Ormes Sorbet 2013  Médoc

[390 rows x 2 columns]

In [5]:
#TODO: What are the minimum and maximum prices for each variety of wine.
# index = variety, value are min and max
variety_price= reviews_df.groupby('variety')['price'].agg(['min','max'])
variety_price

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

In [6]:
#TODO: What are the most expensive wine varieties?
# Create a variable 'sort_varieties' containing a copy of
# the dataframe from the previous task.
# so this is different than just sorting by max?
sort_varieties = variety_price.sort_values(by=['min', 'max'], ascending=False)
sort_varieties
#sorted_varieties = reviews_df.groupby('variety')['price'].max().sort_values(ascending=False)

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

In [7]:
#TODO: Create a series whoe index is reviewers and whose values is the average review score 
#given by the reviever

ratings_sort = reviews_df.groupby('taster_name').points.mean().sort_index()